</html>
<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>button-normal</title>



  
  <!-- Pretendard CDN -->
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">

  <!--아이폰이나 아이패드에서 웹사이트를 홈 화면에 추가할떄 표시될 아이콘-->
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <!--SNS공유시 화면에 어떻게 보일지 설정하는 방법-->
  <meta property="og:title" content="페이지 제목" />
  <meta property="og:description" content="페이지 설명" />
  <meta property="og:image" content="/썸네일.jpg" /> <!--절대경로 필수-->
  <meta property="og:url" content="https://도메인/경로" />
  <meta name="twitter:card" content="summary_large_image" />

  <!--파비콘-->
  <link rel="icon" href="favicon.svg" type="image/svg+xml" />
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <link rel="icon" href="favicon.png" type="image/png" />
  <link rel="icon" href="favicon.jpg" type="image/jpeg" />

  <!--CSS 기본 셋팅들 연결-->
  <link rel="stylesheet" href="/src/styles/style.css" />
 

  <link rel="stylesheet" href="" />
  <script type="module" defer src="/index.js"></script>
  <!--type="module"을 사용하면 해당 스크립트 내부의 변수나 함수는 자동으로 모듈 스코프(지역 스코프) 안에 감춰집니다 -->

</head>

<body>

  <button type="button" value="" class="button-normal">로그인</button> 


  <hr>
  
  <button type="button" value="" class="button-normal button-normal__hover">로그인</button> 


</body>

</html>